.btn-primary:hover, .btn-primary:active:hover {
    background-color: #457FD0;
}
.btn-primary {
    color: #ffffff;
    background-color: #284984;
    border-color: transparent;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
  font-size: 13.5px;
  float: left;
  z-index:2000
}

/* This hides the dropdowns */


li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
a:link {
    text-decoration: none;
}

ul li a:hover { background: #457FD0; }

/* Display the dropdown */


li:hover > ul {
  display: block;
  position: absolute;
  margin-top: -10px;
}

li:hover li { float: none; }

li:hover a { background: #457FD0; color: #fff;}

li:hover li a:hover { background: #284984; }

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

#bt_dec_in{
	background-image: url(../images/in.png);
	background-repeat:no-repeat;
}
#back_param{
	background-image: url(images/ic_param.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: auto auto auto 11px;
    -webkit-font-smoothing: antialiased;
}
#back_front{
	background-image: url(images/ic_front.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: auto auto auto 9px;
    -webkit-font-smoothing: antialiased;
}

#back_immat{
	background-image: url(images/immatriculation.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: auto auto auto 15px;
    -webkit-font-smoothing: antialiased;
}

#back_pension{
	background-image: url(images/ic_pension.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

#back_pf{
	background-image: url(images/prest_familiale.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 23px;
    -webkit-font-smoothing: antialiased;
}

#back_pay_pf{
	background-image: url(images/pay_prestation.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 22px;
    -webkit-font-smoothing: antialiased;
}

#back_risques{
	background-image: url(images/ic_risque.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 33px;
    -webkit-font-smoothing: antialiased;
}

#back_cotise{
	background-image: url(images/ic_cotisation.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 41px;
    -webkit-font-smoothing: antialiased;
}

#back_encaisse{
	background-image: url(images/ic_encaissement.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 44px;
    -webkit-font-smoothing: antialiased;
}

#back_stat{
	background-image: url(images/echelle.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 4px;
    -webkit-font-smoothing: antialiased;
}

#back_piece{
	background-image: url(images/ic_piece.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 39px;
    -webkit-font-smoothing: antialiased;
}

#back_reclam{
	background-image: url(images/reclamation.png);
	background-repeat:no-repeat;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

#back_controle{
	background-image: url(images/controle.png);
	background-repeat:no-repeat;
	margin-left: 30px;
	width: 43px;
	height: 43px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

#bt_dec_user{
	background-image: url(images/ic_super.png);
	background-repeat:no-repeat;
}

#back_logo{
	background-image: url(images/ic_logo.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 50px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#bt_dec_out{
	background-image: url(images/out.png);
	background-repeat:no-repeat;
}

li#bt_dec_in {
    margin-right: 5px;
    margin-top: 9px;
    width: 43px;
}
li#bt_dec_out {
    margin-right: 5px;
    margin-top: 9px;
    width: 43px;
}
li#bt_dec_user {
    margin-right: 5px;
    margin-top: 9px;
    width: 43px;
}

.back_logo{
	background-image: url(images/ic_logo.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 50px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.fond_accueil{
	background-color:#ddd;
}

.navbar-default {
    background-color: #8C92A8;
    border-color: transparent;
}

.navbar {
    border: medium none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
.navbar-inverse {
    background-color: #284984;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color:transparent;
	color:#ddd;
}

.agence{
	margin-right:60px
}
.rich-table {
    background-color: #fff;
    border-collapse: collapse;
    empty-cells: show;
}
.rich-table-subheadercell  {
	width:20px;
}
.rich-filter-input{
	width:150px;
}
.rich-table-headercell {
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width:20px;
    height: 44px;
}

a.btn.btn-primary.taillebtn {
    width: 214px;
}
.row.tabledet {
    width: 139%;
    margin-left: 0px;
}
.rich-table-subheadercell {
	width:50px;
}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -11px;
    margin-right: 5px;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}
.checkbox{
	width: 16px;
}

div#mynewsdis {
    margin-top: 5%;
}

.rich-tab-active {
  background-color: #4171C6;
    
}

.rich-tab-active {
    border-color: #25aae1;
    color: #fff;
}

.rich-tab-active {
    border-color: #4f75b8;
    color: #fff;
}

.rich-tab-inactive {
    background-color: #284984;
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #537cc4;
    border-style: solid;
    border-width: 1px 1px 0;
    cursor: default;
}
.rich-tab-header {
    color: #fff;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-tab-active {
	    background-color: #537cc4;
	    background-image: none;
	}
	
.rich-tab-inactive {
    background-image: none;
    
}

.fa-square{
	color:#D0B056;
}

.fa-check-square{
	color:#62984C;
}

.label {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #444444;
    margin-top: 11.5px;
    margin-bottom: 11.5px;
    font-size: 20px;
    display: inline;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
}

.panel {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.3); 
    box-shadow: 0 0px 0px rgba(0,0,0,0.3); 
}

.rich-panel-header {
    color: #C3C0C0;
    background: #FFFFFF repeat scroll 0 0;
    font-size: 14px;
    font-family: Arial;
    text-align: left;
    border-style: none;
    padding-left: 8px;
}

.rich-panel {
    background-color: #FFF;
    border-top-color: #F4F4F4;
    border-left-color: #F4F4F4;
    border-right-color:#fff;
    border-bottom-color:#fff;
}

.btn.btn-primary.taillebtn {
    margin-right: 10px;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #8C92A8;
    border-color: #8C92A8;
}

.titre-tab{
	color: #60657B;
	
}

.container.body-contain {
    width: 1292px;
}

.navbar-default .navbar-brand {
    color: #ECE9E9;
}

    