<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Amadom</display-name>
  <distributable/>
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.secret</param-name>
    <param-value>MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIz</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.algorithm</param-name>
    <param-value>DESede</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.MAC_SECRET</param-name>
    <param-value>YWJjZDEyMzQ=</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.numberOfViewsInSession</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.numberOfLogicalViews</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.xmlparser.ORDER</param-name>
    <param-value>NONE</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>com.cj.gzipflt.GzipFilter</filter-class>
  </filter>
  <filter>
    <filter-name>MDCUserServletFilter</filter-name>
    <filter-class>com.chaka.projet.filters.MDCUserServletFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Seam Filter</filter-name>
    <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    <init-param>
      <param-name>createTempFiles</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>imagesCache</filter-name>
    <filter-class>com.samaxes.cachefilter.presentation.CacheFilter</filter-class>
    <init-param>
      <param-name>privacy</param-name>
      <param-value>public</param-value>
    </init-param>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>2592000</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>cssCache</filter-name>
    <filter-class>com.samaxes.cachefilter.presentation.CacheFilter</filter-class>
    <init-param>
      <param-name>privacy</param-name>
      <param-value>public</param-value>
    </init-param>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>604800</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>javascriptCache</filter-name>
    <filter-class>com.samaxes.cachefilter.presentation.CacheFilter</filter-class>
    <init-param>
      <param-name>privacy</param-name>
      <param-value>private</param-value>
    </init-param>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>172801</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>jspCache</filter-name>
    <filter-class>com.samaxes.cachefilter.presentation.CacheFilter</filter-class>
    <init-param>
      <param-name>privacy</param-name>
      <param-value>private</param-value>
    </init-param>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>0</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.seam</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDCUserServletFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDCUserServletFilter</filter-name>
    <url-pattern>*.seam</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Seam Filter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Seam Filter</filter-name>
    <url-pattern>*.seam</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cssCache</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>javascriptCache</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>jspCache</filter-name>
    <url-pattern>*.seam</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.chaka.projet.listener.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <display-name>chakaForChaka</display-name>
    <servlet-name>chakaForChaka</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <servlet-class>org.jboss.seam.servlet.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Document Store Servlet</servlet-name>
    <servlet-class>org.jboss.seam.document.DocumentStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrimeFaces Resource Servlet</servlet-name>
    <servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.chaka.projet.servlet.InfoServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AMF Remote Servlet</servlet-name>
    <servlet-class>com.exadel.flamingo.service.seam.AMFToSeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMF Remote Servlet</servlet-name>
    <url-pattern>/flamingo/amf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chakaForChaka</servlet-name>
    <url-pattern>/chakaForChaka</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/detailSessions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/destroySession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrimeFaces Resource Servlet</servlet-name>
    <url-pattern>/primefaces_resource/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document Store Servlet</servlet-name>
    <url-pattern>*.pdf2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document Store Servlet</servlet-name>
    <url-pattern>*.rtf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document Store Servlet</servlet-name>
    <url-pattern>*.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document Store Servlet</servlet-name>
    <url-pattern>*.csv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <url-pattern>/seam/resource/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.seam</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>